.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.confirmationBox {
  background-color: #FFDCA8;
  padding: 20px;
  border-radius: 15px;
  width: 30%;
  height: 50%;
  position: relative;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  font-weight: bold;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
  font-size: 20px;
}

.content {
  margin-top: 15px;
}

.heading {
  margin: 0 0 20px 0;
  font-size: 18px;
  font-weight: bold;
}

.details {
  text-align: left;
  margin: 20px 0;
}

.detailsHeading {
  margin: 0 0 10px 0;
  font-size: 16px;
}

.detailsText {
  margin: 5px 0;
  font-size: 14px;
  color: #333;
}

.wishes {
  margin: 20px 0 0 0;
  font-size: 16px;
}
